{% from "personal/map.jinja" import account %}
{% from "salt/minion/config/map.jinja" import config as salt_config %}

{% set _pyenv_pillar = salt.pillar.get('python:pyenv', {}) %}


{# VALIDATIONS #}
{% if _pyenv_pillar.python_versions is not defined %}
  {% do _pyenv_pillar.update({ 'python_versions': [] }) %}
{% endif %}


{# PYENV #}
{% set _pyenv_by_kernel = salt['grains.filter_by']({

  'default': {
    'runas': account.username,
  },

  'Darwin': { },

}, grain='kernel') %}


{# EXTRA #}
{% set _root_path = account.info.home + "/.pyenv" %}
{% set _additional_data = {
  'path': {
    'root': _root_path,
    'bin': _root_path + "/bin",
    'plugins': _root_path + "/plugins",
  },
  'user': account.username,
  'git_rev': 'v' + _pyenv_pillar.version,
  'minion_conf_file': salt_config.directory + '/pyenv.conf'
} %}


{# EXPOSE #}
{% set pyenv = salt.slsutil.merge_all([_pyenv_pillar, _pyenv_by_kernel, _additional_data]) %}
{% do pyenv.update({ 'supported_kernel': salt.grains.get('os') == "Ubuntu" or salt.grains.get('kernel') == "Darwin" }) %}
