{% from "personal/map.jinja" import account %}

{% set _pyenv_pillar = salt.pillar.get('python:pyenv', {}) %}
{% set _pyenv_root = account.info.home + "/.pyenv" %}

{% set _additional_data = {
  'path': {
    'root': _pyenv_root,
    'bin': _pyenv_root + "/bin",
    'plugins': _pyenv_root + "/plugins",
  },
  'user': account.username,
} %}

{% set pyenv = salt.slsutil.merge(_pyenv_pillar, _additional_data) %}
