{% set _account_pillar = salt.pillar.get('personal:account:user') %}

{% set _additional_data = {
  'info': salt.user.info(_account_pillar.username),
} %}

{% set account = salt.slsutil.merge(_account_pillar, _additional_data) %}
