{% from "personal/map.jinja" import account with context %}


{# VSCode #}
{% set _vscode_by_kernel = salt['grains.filter_by']({

  'default': { },

  'Darwin': {
    'home': account.info.home + '/Library/Application Support/Code',
    'bin_path': '/opt/homebrew/bin/code',
  },

  'Linux': {
    'home': account.info.home + '/.config/Code',
    'bin_path': 'code',
  },

}, grain='kernel') %}


{# EXTRA #}
{% set _additional_data = {
  'user': account.username,
  'extensions': salt.pillar.get('vscode:extensions', []),

  'supported_kernel': salt.grains.get('os') == "Ubuntu" or salt.grains.get('kernel') == "Darwin",
} %}


{# EXPOSE #}
{% set vscode = salt.slsutil.merge(_vscode_by_kernel, _additional_data) %}
